body {
    background-color: #3d3d5d
}
.navbar-brand span{
    color: #ad3d3d;
}
.bg-inset {
    background-color: #373754;
}
.bg-inset label {
    color: white;
}
#videoStream {
    max-width: 640px;
    max-height: 480px;
}
.command-field .custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
.fas {
    cursor: pointer;
}
.scroll-menu {
    overflow: auto;
    white-space: nowrap;
}
.list-group-item {
    padding-bottom: 6px;
    padding-top: 6px;
}
.command-button {
    font-size: 5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    cursor: pointer;
}
.table td.command-button {
    border-top: none;
}
.command-button:hover {
    background-color: #4d4d6d;
}
.display-hover {
    opacity: 0;
}
.display-hover:hover {
    opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
