<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBot</title>
    {% include "imports_cdn.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Flask<span>Bot</span></span>
        <div id="modeSwitchContainer" class="btn-group">
            <button class="btn btn-dark" data-mode="edit">
                Edit
                &nbsp;&nbsp;
                <span class="fas fa-wrench"></span>
            </button>
            <button class="btn btn-dark" data-mode="auto">
                Auto
                &nbsp;&nbsp;
                <span class="fas fa-play"></span>
            </button>
            <button class="btn btn-dark" data-mode="plan">
                Plan
                &nbsp;&nbsp;
                <span class="fas fa-stopwatch"></span>
            </button>
        </div>
    </nav>
    <div id="superContainer" class="mt-4 container-fluid">
        <div class="row">
            <div id="videoStreamContainer" class="col-lg-5 text-center">
                <div class="container">
                    <div class="row bg-dark py-3 rounded">
                        <img id="videoStream" class="container" style="display: none;" src="{{ url_for('video_feed') }}">
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <div class="stream-toggle-button btn btn-dark" data-enabled="true" style="display: none;">
                                Start Stream <span class="fa fa-video"></span>
                            </div>
                            <div class="stream-toggle-button btn btn-dark" data-enabled="false" style="display: none;">
                                Stop Stream <span class="fa fa-video-slash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 row">
                <div id="commandButtonContainer" class="col-xl-6 col-lg-7">
                    <table id="commandButtonTable" class="table text-center">
                        <tr>
                            <td class="command-button" data-command-key="arc_left">🢄</td>
                            <td class="command-button" data-command-key="forward">🢁</td>
                            <td class="command-button" data-command-key="arc_right">🢅</td>
                        </tr>
                        <tr>
                            <td class="command-button" data-command-key="left">🢀</td>
                            <td class="command-button" data-command-key="stop">■</td>
                            <td class="command-button" data-command-key="right">🢂</td>
                        </tr>
                        <tr>
                            <td class="command-button" data-command-key="back_arc_right">🢇</td>
                            <td class="command-button" data-command-key="backwards">🢃</td>
                            <td class="command-button" data-command-key="back_arc_left">🢆</td>
                        </tr>
                    </table>
                </div>
                <div id="editCardContainer" class="col-xl-6 col-lg-5">
                    <div id="editCard" class="card text-white bg-dark">
                        <div class="card-header">
                            <h2>Edit</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-dark">
                                    <div class="card-text mb-2">
                                        Speed Left:
                                    </div>
                                    <div id="speedLeft" class="command-field command-field-speed" data-detail-key="speed_left">
                                        <div class="custom-handle ui-slider-handle"></div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-dark">
                                    <div class="card-text mb-2">
                                        Speed Right:
                                    </div>
                                    <div id="speedRight" class="command-field command-field-speed" data-detail-key="speed_right">
                                        <div class="custom-handle ui-slider-handle"></div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-dark">
                                    <div class="card-text mb-2">
                                        Duration
                                    </div>
                                    <div id="duration" class="command-field command-field-duration" data-detail-key="duration">
                                        <div class="custom-handle ui-slider-handle"></div>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <nav id="timelineContainer" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom text-white" style="display:none;">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>
                            <span class="fas fa-stop"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="fas fa-play"></span>
                        </h2>
                    </div>
                    <div class="col-md-4 text-right">
                        <h2>
                            <span class="fas fa-trash"></span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div id="timeline" class="scroll-menu">

                    </div>
                </div>
            </div>
        </nav>

        <script>
            setUrls({
                commands: "{{ url_for('motor_move') }}",
                stream: {
                    enabled: "{{ url_for('video_enable') }}"
                }
            });
            main();
        </script>
    </div>

</body>
</html>